#!/usr/bin/env bash

# Redis
# ---------------
alias flush-redis="redis-cli FLUSHALL"

# Oh my zsh config helpers
# ---------------
alias cddotfiles="cd $(chezmoi source-path)"
alias reloadcli="source $HOME/.zshrc"

# Openers
# ---------------
alias zshrc="chezmoi edit ~/.zshrc"
alias dotfiles="code $(chezmoi source-path)"
alias hostfile="sudo code /etc/hosts"
alias sshconfig="chezmoi edit ~/.ssh/config"
alias sshconfig-private="chezmoi edit ~/.ssh/conf.d/private"
alias sshconfig-company="chezmoi edit ~/.ssh/conf.d/company"

# PHP
# ---------------
alias p="phpunit $@"
alias pf="phpunit --filter $@"
alias p="phpunit $@"
alias pest="./vendor/bin/pest"
alias pe="pest $@"
alias pef="pest --filter $@"
alias pew="pest --watch $@"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias crs="composer require --no-scripts"
alias ci="composer install"
alias cda="composer dump-autoload -o"

alias php8.3="/opt/homebrew/opt/php@8.3/bin/php"
alias php8.2="/opt/homebrew/opt/php@8.2/bin/php"
alias php8.1="/opt/homebrew/opt/php@8.1/bin/php"
alias php8.0="/opt/homebrew/opt/php@8.0/bin/php"
alias php7.4="/opt/homebrew/opt/php@7.4/bin/php"

alias composer8.3="php8.3 $(which composer)"
alias composer8.2="php8.2 $(which composer)"
alias composer8.1="php8.1 $(which composer)"
alias composer8.0="php8.0 $(which composer)"
alias composer7.4="php7.4 $(which composer)"

alias pecl8.3="/opt/homebrew/opt/php@8.3/bin/pecl"
alias pecl8.2="/opt/homebrew/opt/php@8.2/bin/pecl"
alias pecl8.1="/opt/homebrew/opt/php@8.1/bin/pecl"
alias pecl8.0="/opt/homebrew/opt/php@8.0/bin/pecl"
alias pecl7.4="/opt/homebrew/opt/php@7.4/bin/pecl"

alias a83="php8.3 artisan $@"
alias a82="php8.2 artisan $@"
alias a81="php8.1 artisan $@"
alias a80="php8.0 artisan $@"
alias a74="php7.4 artisan $@"

# Laravel
# ---------------
alias fresh='php artisan migrate:fresh --seed'
alias a="artisan" # artisan is provided by zsh plugin
alias mm="php artisan make:migration"
alias migrate="php artisan migrate"
alias rollback="php artisan migrate:rollback --step=1"
alias lpw="php artisan tinker --execute=\"echo Hash::make('$1')\" | pbcopy"
alias vendorinit="rm -Rf vendor && composer install"
alias pint="vendor/bin/pint $@"

# SSH
# ---------------
alias copykey='command cat ~/.ssh/id_ed25519.pub | pbcopy'
alias publickey="cat ~/.ssh/id_ed25519.pub"

# Tool replacements & helpers
# ---------------
alias man=tldr
alias cat="bat $@"
alias ping='prettyping --nolegend'
alias preview="fzf --preview 'bat --color \"always\" {}'"

alias grep="grep --color=auto"
alias top="sudo htop"
alias dc="docker-compose"

# List all files colorized in long format
alias l="ls -laF"
alias ls="exa -lah $@"
alias kubeconfig='code ~/.kube/config'

# allow to use watch with aliases
alias watch='watch '
alias k='kubectl'
alias kr='kraken'
alias 1p='op'

# Git
# ---------------
alias git="hub"
alias wip="commit 'wip'"
alias cleanbranches="git branch --merged | egrep -v \"(^\*|main|master|develop|dev)\" | xargs git branch -d"
alias dracaris='git reset --hard;git clean -df'

# MacOS
# ---------------
# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Networking
# ---------------
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
# Ports
alias ports="lsof -nP -i4TCP | grep LISTEN"

# Other
# ---------------
# Enable aliases to be sudo’ed
alias sudo='sudo '
