mode = "symlink"

encryption = "age"
[age]
    identity = "~/.local/share/chezmoi/age.agekey"
    recipient = "age12jfqhu7p3wtpv39ghplnkh5sde27qtnd7632fz5m8qxzw08fr5eqz2rec0"

# [git]
#     autoCommit = true
#     autoPush = true

[edit]
    command = "code"
    args = ["--wait"]
