encryption = "age"
mode = "symlink"

[age]
    identity = "~/key.txt"
    recipient = "age1hmx7de7hnzjt4we3uzetgfse0f3wydmpw06sj08lws58yptv4ehsqca2pk"

# [git]
#     autoCommit = true
#     autoPush = true

[edit]
    command = "code"
    args = ["--wait"]