encryption = "age"
mode = "symlink"

[age]
    identity = "~/.ssh/id_ed25519"
    symmetric = true

# [git]
#     autoCommit = true
#     autoPush = true

[edit]
    command = "code"
    args = ["--wait"]
