[push]
    default = simple

[alias]
    # inspired by https://laravel-news.com/bash-aliases
    st = "!f(){ git status -bs; printf \"\nIgnored files:\n\"; git ls-files -v | grep "^h " | cut -c 3-; };f"
    assume = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed = "!git ls-files -v | grep ^h | cut -c 3-"
    unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
    assumeall = "!git st -s | awk {'print $2'} | xargs git assume"
    ; st = status -bs
    ci = commit
    co = checkout
    di = diff
    dc = diff --cached
    sg = diff --staged --name-only
    b = branch
    fa = fetch --all
    lg = log --pretty=format:\"%Cgreen%h%Creset %Cblue%ad%Creset %s%C(yellow)%d%Creset %Cblue[%an]%Creset\" --graph --date=short
    ll = log --pretty=format:\"%Cgreen%h%Creset %Cblue%ad%Creset %s%C(yellow)%d%Creset %Cblue[%an]%Creset\" --graph --date=short -10
    amend = commit --amend
    dracarys = "!f() { git reset --hard && git clean -df; }; f"
    au = add -u
    ap = add -p
    cara = “!git commit --amend --reset-author”
